.error_box{
    font-size: small;
    z-index: 4;
    position: fixed;
    bottom: 92px;
    right: 20px;
    height: auto;
    width: 300px;
    padding: 5px;
    border-radius: 8px;
    text-align: center;
    background-color: #565658;
    color: black;
    /* display: none; */
}