#loader {
    height: 100vh;
    width: 100vw;
    position: fixed;
    z-index: 9999;
    background-color: #292929;
    left: 0px;
    top: 0px;
    bottom: 0px;
    right: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 1.5s;
}
#loader_gif {
    width: 50px;
}
